<div class="container">
   <div class="jumbotron">
      <h1>Welcome to ToDo List!</h1>
      <h3>Todo list can be updated through</h3>
      <ul>
      	<li><p>Android</p></li>
      	<li><p>iPad</p></li>
      	<li><p>Windows</p></li>
      	<li><p>any command lines</p></li>
      </ul>
   </div>
</div>


